__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyw
*~
*.bak
*.swp
*.py.class
.env
.venv/
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sqlite
*.sqlite3
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tfstate
*.tfstate.*
*.tfvars
*.tf
*.tfvars.template
*.tfstate.backup
*.egg-info/
*.egg
*.whl
*.pdf
*.pem
*.p12
*.key
*.pfx
*.crt
*.csr
*.cer
*~$*
*.pptx
*.docx
*.xlsx
*.dotx
*.dotm
*.xltx
*.xltm
*.xlam
*.potx
*.potm
*.ppam
*.sldx
*.sldm
*.thmx
*.xps
*.wps
*.et
*.ett
*.xlt
*.xls
*.xla
*.xlc
*.xlm
*.xlw
*.wpt
*.dot
*.wks
*.wdb
*.ppt
*.pps
*.pot
*.ppa
*.potx
*.potm
*.ppam
*.sldx
*.sldm
*.thmx
*.xps
*.dll
*.lnk
*.tmp
*.log
*.txt
*.bak
*.old
*.wpc
*.db
*.xlsb
*.xlsm
*.xltm
*.xlam
*.docm
*.dotx
*.dotm
*.pptm
*.potx
*.potm
*.ppam
*.sldx
*.sldm
*.thmx